.icon_button {
  text-indent: -999em;
  position: relative;
  display: block;
  padding: 0;
  height: 2.369em;
  width: 2.369em;
  font-size: 1em;
  font-weight: normal;
}
.icon_button:after {
  font-family: "FontAwesome";
  content: "\f118";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  text-indent: 0;
  line-height: 2.369;
}
.icon_date {
  display: inline;
}
.icon_date:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  line-height: 1;
  content: "\f179";
  content: "\f133";
}
.icon_external {
  display: inline-block;
}
.icon_external:after {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  text-align: right;
  line-height: 1;
  content: "\f179";
  content: "\f08e";
}
.icon_video:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  line-height: 1;
  content: "\f179";
  content: "\f03d";
}
.icon_status:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  line-height: 1;
  content: "\f179";
  content: "\f0e7";
}
.icon_audio:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  line-height: 1;
  content: "\f179";
  content: "\f025";
}
.icon_comment:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  line-height: 1;
  content: "\f179";
  content: "\f075";
}
.icon_link:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  line-height: 1;
  content: "\f179";
  content: "\f0c1";
}
.icon_folder:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  line-height: 1;
  content: "\f179";
  content: "\f07b";
}
.icon_tag:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  line-height: 1;
  content: "\f179";
  content: "\f02b";
}
.icon_post:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  line-height: 1;
  content: "\f179";
  content: "\f0f6";
}
.icon_edit:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  line-height: 1;
  content: "\f179";
  content: "\f040";
}
.icon_archive:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  line-height: 1;
  content: "\f179";
  content: "\f115";
}
.icon_category:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  line-height: 1;
  content: "\f179";
  content: "\f114";
}
.icon_page:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  line-height: 1;
  content: "\f179";
  content: "\f0f6";
}
.icon_comment:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  line-height: 1;
  content: "\f179";
  content: "\f0e5";
}
.icon_post:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  line-height: 1;
  content: "\f179";
  content: "\f016";
}
.icon_user:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  line-height: 1;
  content: "\f179";
  content: "\f007";
}
@-webkit-keyframes buttonshadow {
  0% {
    -webkit-box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.1);
  }
  100% {
    -webkit-box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.05), inset 0 -5em 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.05), inset 0 -5em 0 0 rgba(0, 0, 0, 0.1);
  }
}
@-moz-keyframes buttonshadow {
  0% {
    -webkit-box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.1);
  }
  100% {
    -webkit-box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.05), inset 0 -5em 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.05), inset 0 -5em 0 0 rgba(0, 0, 0, 0.1);
  }
}
@-o-keyframes buttonshadow {
  0% {
    -webkit-box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.1);
  }
  100% {
    -webkit-box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.05), inset 0 -5em 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.05), inset 0 -5em 0 0 rgba(0, 0, 0, 0.1);
  }
}
@keyframes buttonshadow {
  0% {
    -webkit-box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.1);
  }
  100% {
    -webkit-box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.05), inset 0 -5em 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.05), inset 0 -5em 0 0 rgba(0, 0, 0, 0.1);
  }
}
/**
 * GRID.LESS
 * Based on semanticgrid.gs
 */
p.demo_store {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #edbd1d;
  z-index: 9999;
  margin-bottom: 0;
  padding: 1em 0;
  color: #fff;
  text-align: center;
}
.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
  padding: 1em 1.999em 1em 3.157em;
  list-style-type: none;
  -webkit-border-top-right-radius: 0.201em;
  -webkit-border-bottom-right-radius: 0.201em;
  border-top-right-radius: 0.201em;
  border-bottom-right-radius: 0.201em;
  margin-bottom: 1.5em;
  position: relative;
  background: #cfe8f3;
  border-left: 0.236em solid #56acd3;
  color: #1e5872;
}
.woocommerce-message:before,
.woocommerce-error:before,
.woocommerce-info:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  content: "\f129";
  display: block;
  color: #56acd3;
  position: absolute;
  top: 1.333em;
  left: 1.333em;
  width: 1em;
  height: 1em;
  padding: .317em;
  line-height: 1;
  text-align: center;
  -webkit-border-radius: 0.201em;
  border-radius: 0.201em;
  font-size: .844em;
}
.woocommerce-message .button,
.woocommerce-error .button,
.woocommerce-info .button {
  float: right;
}
.woocommerce-error {
  padding: 1em 1.999em 1em 3.157em;
  list-style-type: none;
  -webkit-border-top-right-radius: 0.201em;
  -webkit-border-bottom-right-radius: 0.201em;
  border-top-right-radius: 0.201em;
  border-bottom-right-radius: 0.201em;
  margin-bottom: 1.5em;
  position: relative;
  background: #fbefd8;
  border-left: 0.236em solid #eeb44c;
  color: #93630e;
}
.woocommerce-error:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  content: "\f12a";
  display: block;
  color: #eeb44c;
  position: absolute;
  top: 1.333em;
  left: 1.333em;
  width: 1em;
  height: 1em;
  padding: .317em;
  line-height: 1;
  text-align: center;
  -webkit-border-radius: 0.201em;
  border-radius: 0.201em;
  font-size: .844em;
}
.woocommerce-error .button {
  float: right;
}
.woocommerce-message {
  padding: 1em 1.999em 1em 3.157em;
  list-style-type: none;
  -webkit-border-top-right-radius: 0.201em;
  -webkit-border-bottom-right-radius: 0.201em;
  border-top-right-radius: 0.201em;
  border-bottom-right-radius: 0.201em;
  margin-bottom: 1.5em;
  position: relative;
  background: #dbf3c6;
  border-left: 0.236em solid #8ada46;
  color: #407117;
}
.woocommerce-message:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  content: "\f00c";
  display: block;
  color: #8ada46;
  position: absolute;
  top: 1.333em;
  left: 1.333em;
  width: 1em;
  height: 1em;
  padding: .317em;
  line-height: 1;
  text-align: center;
  -webkit-border-radius: 0.201em;
  border-radius: 0.201em;
  font-size: .844em;
}
.woocommerce-message .button {
  float: right;
}
.onsale {
  position: absolute;
  top: 0;
  right: 1.777em;
  background-color: #e71c27;
  color: #fff;
  padding: .238em .844em;
  -webkit-border-top-right-radius: 0.201em;
  -webkit-border-bottom-right-radius: 0.201em;
  border-top-right-radius: 0.201em;
  border-bottom-right-radius: 0.201em;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: 700;
  font-size: .844em;
  text-transform: uppercase;
}
p.stars {
  position: relative;
  height: 1em;
  font-size: 1em;
}
p.stars a {
  display: inline-block;
  font-size: 1.333em;
  font-weight: 700;
  margin-right: 1em;
  text-indent: -9999px;
  position: relative;
}
p.stars a:last-child {
  border-right: 0;
}
p.stars a.star-1:after,
p.stars a.star-2:after,
p.stars a.star-3:after,
p.stars a.star-4:after,
p.stars a.star-5:after {
  font-family: "FontAwesome";
  text-indent: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 1em;
}
p.stars a.star-1 {
  width: 2em;
}
p.stars a.star-1:after {
  content: "\f006";
}
p.stars a.star-1:hover:after,
p.stars a.star-1.active:after {
  content: "\f005";
}
p.stars a.star-2 {
  width: 3em;
}
p.stars a.star-2:after {
  content: "\f006\f006";
}
p.stars a.star-2:hover:after,
p.stars a.star-2.active:after {
  content: "\f005\f005";
}
p.stars a.star-3 {
  width: 4em;
}
p.stars a.star-3:after {
  content: "\f006\f006\f006";
}
p.stars a.star-3:hover:after,
p.stars a.star-3.active:after {
  content: "\f005\f005\f005";
}
p.stars a.star-4 {
  width: 5em;
}
p.stars a.star-4:after {
  content: "\f006\f006\f006\f006";
}
p.stars a.star-4:hover:after,
p.stars a.star-4.active:after {
  content: "\f005\f005\f005\f005";
}
p.stars a.star-5 {
  width: 6em;
}
p.stars a.star-5:after {
  content: "\f006\f006\f006\f006\f006";
}
p.stars a.star-5:hover:after,
p.stars a.star-5.active:after {
  content: "\f005\f005\f005\f005\f005";
}
.price del,
.product_list_widget del {
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  margin-right: .201em;
}
.woocommerce-breadcrumb {
  font-size: .844em;
}
.woocommerce-breadcrumb .home:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  line-height: 1;
  content: "\f015";
}
.cart-button:after {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  text-align: right;
  line-height: 1;
  content: "\f179";
  content: "\f07a";
}
.highwind-product-search {
  background: rgba(0, 0, 0, 0.02);
  border-bottom: 0.134em solid rgba(0, 0, 0, 0.04);
  margin-left: -999em;
  margin-right: -999em;
  padding-left: 999em;
  padding-right: 999em;
  padding-top: 2.369em;
  padding-bottom: 2.369em;
  margin-top: -4.209rem;
  margin-bottom: 4.209rem;
  *zoom: 1;
}
.highwind-product-search:before,
.highwind-product-search:after {
  content: "";
  display: table;
}
.highwind-product-search:after {
  clear: both;
}
.highwind-product-search form {
  position: relative;
  margin: 0;
}
.highwind-product-search form input#searchsubmit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 3.157em;
  text-indent: -999em;
  border: 0;
}
.highwind-product-search form input#searchsubmit:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
  background: rgba(0, 0, 0, 0.05);
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.highwind-product-search form input#searchsubmit:active {
  -webkit-transform: none;
}
.highwind-product-search form input#s {
  padding-right: 3.552em;
}
.highwind-product-search form:before {
  content: "\f002";
  font-family: "FontAwesome";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  text-indent: 0;
  width: 3.157em;
  text-align: center;
  line-height: 2.9;
}
ul.products {
  *zoom: 1;
  list-style: none;
  margin-left: -1.777em;
  margin-right: -1.777em;
}
ul.products:before,
ul.products:after {
  content: "";
  display: table;
}
ul.products:after {
  clear: both;
}
ul.products li.product {
  position: relative;
  *zoom: 1;
  margin-bottom: 1em;
  padding-bottom: 1em;
  padding-left: 1.777em;
  padding-right: 1.777em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
ul.products li.product:before,
ul.products li.product:after {
  content: "";
  display: table;
}
ul.products li.product:after {
  clear: both;
}
ul.products li.product h3 {
  font-size: 1em;
  margin-bottom: .475rem;
}
ul.products li.product img {
  width: 20%;
  height: auto;
  float: right;
  margin: 0 0 0 3.8%;
  max-width: 100%;
}
ul.products li.product .price {
  display: block;
}
ul.products li.product .button {
  display: none;
}
ul.products li.product a:first-of-type {
  display: block;
}
ul.products li.product a:first-of-type:hover {
  text-decoration: none;
}
ul.products li.product .star-rating {
  font-size: .75em;
  margin-bottom: .317rem;
}
div.product {
  position: relative;
}
div.product .images {
  margin-bottom: 1.777em;
}
div.product .thumbnails {
  *zoom: 1;
}
div.product .thumbnails:before,
div.product .thumbnails:after {
  content: "";
  display: table;
}
div.product .thumbnails:after {
  clear: both;
}
div.product .thumbnails a {
  display: block;
  float: left;
  width: 30.75%;
  margin-right: 3.8%;
}
div.product .thumbnails a img {
  width: 100%;
}
div.product .thumbnails a:nth-child(3n) {
  margin-right: 0;
}
div.product .thumbnails a:nth-child(4n) {
  clear: both;
}
div.product .summary {
  margin-bottom: 1.777em;
  padding-bottom: 1.777em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
div.product .quantity {
  margin-bottom: 1.777em;
}
#reviews .star-rating {
  float: right;
  margin-left: 1em;
  line-height: 2;
  height: 2em;
}
#reviews li.comment {
  list-style: none;
  margin-bottom: 1.777em;
}
#reviews li.comment .star-rating {
  float: right;
  font-size: .844em;
  line-height: 1.777;
  height: 1.777em;
}
#reviews li.comment .meta {
  margin-bottom: 1em;
}
#reviews li.comment .avatar {
  float: left;
  margin-right: 1em;
  height: 1.777em;
  width: 1.777em;
}
#reviews li.comment .description {
  -webkit-box-shadow: 0 0 0 0.134em rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 0.134em rgba(0, 0, 0, 0.1);
  padding: 1em;
  -webkit-border-radius: 0.201em;
  border-radius: 0.201em;
}
#reviews li.comment .description p:last-child {
  margin-bottom: 0;
}
#reviews .comment-form-comment {
  clear: both;
}
.backorder_notification {
  font-size: .844em;
}
.backorder_notification:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  line-height: 1;
  content: "\f179";
  content: "\f071";
}
table.cart .product-remove,
table.cart .product-thumbnail,
table.cart .product-price {
  display: none;
}
table.cart .product-thumbnail img {
  width: 2.665em;
  height: auto;
}
table.cart .actions {
  text-align: right;
  padding-right: 0;
}
table.cart .actions .coupon {
  *zoom: 1;
  margin-bottom: 1em;
}
table.cart .actions .coupon:before,
table.cart .actions .coupon:after {
  content: "";
  display: table;
}
table.cart .actions .coupon:after {
  clear: both;
}
table.cart .actions .coupon label {
  display: none;
}
table.cart .actions .coupon .input-text {
  width: 48%;
  float: left;
}
table.cart .actions .coupon .button {
  width: 48%;
  float: right;
}
table.cart .actions .button {
  width: 48%;
  float: left;
}
table.cart .actions .checkout-button {
  float: right;
}
.checkout .create-account {
  clear: both;
}
.checkout #ship-to-different-address label {
  display: inline;
}
.checkout #ship-to-different-address input[type="checkbox"] {
  font-size: .75em;
  float: right;
  margin-right: 0;
}
.checkout #place_order {
  font-size: 1.333em;
  width: 100%;
  text-align: center;
}
#payment ul.payment_methods {
  list-style: none;
}
#payment ul.payment_methods label {
  margin-bottom: 1em;
}
#payment ul.payment_methods label img {
  float: right;
}
#payment .payment_box {
  padding: 1em 1.999em 1em 3.157em;
  list-style-type: none;
  -webkit-border-top-right-radius: 0.201em;
  -webkit-border-bottom-right-radius: 0.201em;
  border-top-right-radius: 0.201em;
  border-bottom-right-radius: 0.201em;
  margin-bottom: 1.5em;
  position: relative;
  background: #cfe8f3;
  border-left: 0.236em solid #56acd3;
  color: #1e5872;
}
#payment .payment_box:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  content: "\f178";
  display: block;
  color: #56acd3;
  position: absolute;
  top: 1.333em;
  left: 1.333em;
  width: 1em;
  height: 1em;
  padding: .317em;
  line-height: 1;
  text-align: center;
  -webkit-border-radius: 0.201em;
  border-radius: 0.201em;
  font-size: .844em;
}
#payment .payment_box .button {
  float: right;
}
#payment .payment_box p:last-child {
  margin-bottom: 0;
}
ul.order_details {
  *zoom: 1;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  -webkit-border-radius: 0.201em;
  border-radius: 0.201em;
  margin-left: 0;
}
ul.order_details:before,
ul.order_details:after {
  content: "";
  display: table;
}
ul.order_details:after {
  clear: both;
}
ul.order_details li {
  float: left;
  padding: 1em 1.777em;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  font-size: .844em;
  text-transform: uppercase;
}
ul.order_details li strong {
  display: block;
  font-size: 1.125em;
  text-transform: none;
}
header.title {
  *zoom: 1;
}
header.title:before,
header.title:after {
  content: "";
  display: table;
}
header.title:after {
  clear: both;
}
header.title h1,
header.title h2,
header.title h3,
header.title h4,
header.title h5 {
  float: left;
}
header.title a.edit {
  float: right;
  font-weight: bold;
  line-height: 2.4em;
}
header.title a.edit:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  line-height: 1;
  content: "\f179";
  content: "\f044";
}
table.my_account_orders .button {
  font-size: .844em;
  padding: .475em .844em;
}
.addresses .address {
  margin-bottom: 1.5em;
}
dl.variation {
  *zoom: 1;
  font-size: .844em;
}
dl.variation:before,
dl.variation:after {
  content: "";
  display: table;
}
dl.variation:after {
  clear: both;
}
dl.variation dt {
  float: left;
  clear: left;
  margin-right: .238em;
}
dl.variation dd {
  margin-bottom: 0;
}
.star-rating {
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1em;
  font-size: 1em;
  width: 4.8em;
  font-family: "fontawesome";
}
.star-rating:before {
  content: "\f006\f006\f006\f006\f006";
  float: left;
  top: 0;
  left: 0;
  position: absolute;
}
.star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}
.star-rating span:before {
  content: "\f005\f005\f005\f005\f005";
  top: 0;
  position: absolute;
  left: 0;
}
.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  display: none;
}
.quantity .qty {
  width: 3.552em;
  text-align: center;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.quantity .minus {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.quantity .plus {
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.woocommerce-pagination ul.page-numbers {
  *zoom: 1;
  list-style: none;
  margin-bottom: 1.777em;
  font-size: .844em;
  font-weight: bold;
}
.woocommerce-pagination ul.page-numbers:before,
.woocommerce-pagination ul.page-numbers:after {
  content: "";
  display: table;
}
.woocommerce-pagination ul.page-numbers:after {
  clear: both;
}
.woocommerce-pagination ul.page-numbers li {
  float: left;
}
.woocommerce-pagination ul.page-numbers li a,
.woocommerce-pagination ul.page-numbers li .current,
.woocommerce-pagination ul.page-numbers li .page-numbers {
  padding: .475em .618em;
  -webkit-border-radius: 0.201em;
  border-radius: 0.201em;
  display: inline-block;
  line-height: 1;
  margin-right: .475em;
}
.woocommerce-pagination ul.page-numbers li .current,
.woocommerce-pagination ul.page-numbers li a:hover {
  background: rgba(0, 0, 0, 0.05);
  text-decoration: none;
}
.product_list_widget li {
  *zoom: 1;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.product_list_widget li:before,
.product_list_widget li:after {
  content: "";
  display: table;
}
.product_list_widget li:after {
  clear: both;
}
.product_list_widget li:last-child {
  border-bottom: 0;
}
.product_list_widget a {
  display: block;
}
.product_list_widget img {
  float: right;
  width: 3.157em;
  height: auto;
  margin: 0 0 0 .633em;
}
.widget_price_filter .price_slider {
  margin-bottom: 1em;
}
.widget_price_filter .price_slider_amount {
  text-align: right;
  line-height: 2.4em;
}
.widget_price_filter .price_slider_amount .button {
  float: left;
}
.widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
}
.widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1em;
  height: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  cursor: pointer;
  outline: none;
  background: #fff;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  margin-top: -0.4em;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.widget_price_filter .ui-slider .ui-slider-handle:last-child {
  margin-left: -1em;
}
.widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background: #fff;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  -webkit-border-radius: 1em;
  border-radius: 1em;
  background: rgba(0, 0, 0, 0.1);
}
.widget_price_filter .ui-slider-horizontal {
  height: .201em;
  margin-top: .4em;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
  left: -1px;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
  right: -1px;
}
.widget_layered_nav .count {
  float: right;
}
.widget_layered_nav .chosen a {
  margin-left: -1.5em;
}
.widget_layered_nav .chosen a:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  line-height: 1;
  content: "\f05c";
}
@media only screen and (min-width: 769px) {
  .main-nav ul.menu li.cart-link {
    float: right;
  }
  .highwind-product-search form {
    display: inline;
    float: left;
    width: 93.85594477520422%;
    margin-left: 3.072027612397888%;
    margin-right: 3.072027612397888%;
    *width: 93.8038614418709%;
    *margin-left: 3.0199442790645543%;
    *margin-right: 3.0199442790645543%;
  }
  .woocommerce-result-count {
    float: left;
  }
  .woocommerce-ordering {
    float: right;
  }
  ul.products {
    display: block;
    width: 108.19207363306103%;
    margin-left: -4.096036816530517%;
    margin-right: -4.096036816530517%;
    *width: 108.1399902997277%;
    *margin-left: -4.14812014986385%;
    *margin-right: -4.14812014986385%;
    *zoom: 1;
    clear: both;
  }
  ul.products:before,
  ul.products:after {
    content: "";
    display: table;
  }
  ul.products:after {
    clear: both;
  }
  ul.products li.product {
    display: inline;
    float: left;
    width: 25.1412597002723%;
    margin-left: 4.096036816530517%;
    margin-right: 4.096036816530517%;
    *width: 25.08917636693897%;
    *margin-left: 4.043953483197184%;
    *margin-right: 4.043953483197184%;
    padding-left: 0;
    padding-right: 0;
    clear: none;
    border: 0;
  }
  ul.products li.product img {
    width: auto;
    float: none;
    margin-bottom: 1em;
    margin-left: 0;
  }
  ul.products li.product h3 {
    margin-bottom: 1rem;
  }
  ul.products li.product .price {
    margin-bottom: 1em;
  }
  ul.products li.product:nth-child(2n) {
    float: left;
  }
  ul.products li.product.first {
    clear: both;
  }
  ul.products li.product .star-rating {
    margin-bottom: .75rem;
  }
  .single-product .content > .product {
    display: block;
    width: 108.19207363306103%;
    margin-left: -4.096036816530517%;
    margin-right: -4.096036816530517%;
    *width: 108.1399902997277%;
    *margin-left: -4.14812014986385%;
    *margin-right: -4.14812014986385%;
    *zoom: 1;
  }
  .single-product .content > .product:before,
  .single-product .content > .product:after {
    content: "";
    display: table;
  }
  .single-product .content > .product:after {
    clear: both;
  }
  .single-product .content > .product:before,
  .single-product .content > .product:after {
    content: "";
    display: table;
  }
  .single-product .content > .product:after {
    clear: both;
  }
  .single-product .content > .product .images {
    display: inline;
    float: left;
    width: 36.25237081138341%;
    margin-left: 4.096036816530517%;
    margin-right: 4.096036816530517%;
    *width: 36.20028747805007%;
    *margin-left: 4.043953483197184%;
    *margin-right: 4.043953483197184%;
  }
  .single-product .content > .product .images .thumbnails {
    display: block;
    width: 118.43216567438732%;
    margin-left: -9.216082837193662%;
    margin-right: -9.216082837193662%;
    *width: 118.38008234105399%;
    *margin-left: -9.268166170526996%;
    *margin-right: -9.268166170526996%;
    *zoom: 1;
  }
  .single-product .content > .product .images .thumbnails:before,
  .single-product .content > .product .images .thumbnails:after {
    content: "";
    display: table;
  }
  .single-product .content > .product .images .thumbnails:after {
    clear: both;
  }
  .single-product .content > .product .images .thumbnails a {
    display: block;
    display: inline;
    float: left;
    width: 31.567834325612676%;
    margin-left: 9.216082837193662%;
    margin-right: 9.216082837193662%;
    *width: 31.515750992279344%;
    *margin-left: 9.163999503860328%;
    *margin-right: 9.163999503860328%;
    margin-bottom: 1.777em;
  }
  .single-product .content > .product .summary {
    display: inline;
    float: left;
    width: 47.36348192249453%;
    margin-left: 4.096036816530517%;
    margin-right: 4.096036816530517%;
    *width: 47.31139858916119%;
    *margin-left: 4.043953483197184%;
    *margin-right: 4.043953483197184%;
    border: 0;
  }
  .woocommerce-tabs {
    clear: both;
  }
  .woocommerce-tabs ul.tabs {
    *zoom: 1;
    list-style: none;
    margin-left: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 1px 0;
  }
  .woocommerce-tabs ul.tabs:before,
  .woocommerce-tabs ul.tabs:after {
    content: "";
    display: table;
  }
  .woocommerce-tabs ul.tabs:after {
    clear: both;
  }
  .woocommerce-tabs ul.tabs li {
    float: left;
    border-right: 1px dotted rgba(0, 0, 0, 0.1);
  }
  .woocommerce-tabs ul.tabs li.active a {
    -webkit-box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -0.238em 0 0 rgba(0, 0, 0, 0.1);
    color: #666a76;
  }
  .woocommerce-tabs ul.tabs li.active a:hover {
    text-decoration: none;
  }
  .woocommerce-tabs ul.tabs a {
    display: inline-block;
    padding: .844em 1.125em;
    font-weight: 700;
  }
  table.cart .actions {
    text-align: right;
  }
  table.cart .actions .button {
    width: auto;
    float: none;
  }
  table.cart .actions .coupon {
    width: 48%;
    float: left;
    margin: 0;
    text-align: left;
  }
  table.cart .actions .coupon .input-text {
    float: none;
  }
  table.cart .actions .coupon .button {
    width: auto;
    float: none;
  }
  .cart-collaterals {
    display: block;
    width: 106.14405522479578%;
    margin-left: -3.072027612397888%;
    margin-right: -3.072027612397888%;
    *width: 106.09197189146245%;
    *margin-left: -3.1241109457312213%;
    *margin-right: -3.1241109457312213%;
    *zoom: 1;
  }
  .cart-collaterals:before,
  .cart-collaterals:after {
    content: "";
    display: table;
  }
  .cart-collaterals:after {
    clear: both;
  }
  .cart-collaterals:before,
  .cart-collaterals:after {
    content: "";
    display: table;
  }
  .cart-collaterals:after {
    clear: both;
  }
  .cart-collaterals .cart_totals,
  .cart-collaterals .shipping_calculator,
  .cart-collaterals .upsells {
    display: inline;
    float: left;
    width: 27.18927810853756%;
    margin-left: 3.072027612397888%;
    margin-right: 3.072027612397888%;
    *width: 27.13719477520423%;
    *margin-left: 3.0199442790645543%;
    *margin-right: 3.0199442790645543%;
  }
  .cart-collaterals .cart_totals {
    float: right;
  }
  form.checkout {
    display: block;
    width: 106.14405522479578%;
    margin-left: -3.072027612397888%;
    margin-right: -3.072027612397888%;
    *width: 106.09197189146245%;
    *margin-left: -3.1241109457312213%;
    *margin-right: -3.1241109457312213%;
    *zoom: 1;
  }
  form.checkout:before,
  form.checkout:after {
    content: "";
    display: table;
  }
  form.checkout:after {
    clear: both;
  }
  form.checkout:before,
  form.checkout:after {
    content: "";
    display: table;
  }
  form.checkout:after {
    clear: both;
  }
  form.checkout #customer_details,
  form.checkout #order_review,
  form.checkout #order_review_heading {
    display: inline;
    float: left;
    width: 43.85594477520423%;
    margin-left: 3.072027612397888%;
    margin-right: 3.072027612397888%;
    *width: 43.80386144187089%;
    *margin-left: 3.0199442790645543%;
    *margin-right: 3.0199442790645543%;
  }
  .addresses {
    display: block;
    width: 108.19207363306103%;
    margin-left: -4.096036816530517%;
    margin-right: -4.096036816530517%;
    *width: 108.1399902997277%;
    *margin-left: -4.14812014986385%;
    *margin-right: -4.14812014986385%;
    *zoom: 1;
  }
  .addresses:before,
  .addresses:after {
    content: "";
    display: table;
  }
  .addresses:after {
    clear: both;
  }
  .addresses:before,
  .addresses:after {
    content: "";
    display: table;
  }
  .addresses:after {
    clear: both;
  }
  .addresses .address {
    display: inline;
    float: left;
    width: 36.25237081138341%;
    margin-left: 4.096036816530517%;
    margin-right: 4.096036816530517%;
    *width: 36.20028747805007%;
    *margin-left: 4.043953483197184%;
    *margin-right: 4.043953483197184%;
  }
}
